//colores por def.
$color_primary:#08e8f0;
$color_secundary:#343434;

$color_background:#F2F4F1;//blanco grisacio.
$color_border:#DCE1DA;//gris.

$color_primary_hover:rgb(255, 229, 176);

//rutas por def.
$route_img:"../../assets/images/";
$route_font:"../../assets/fonts/";

//nombre de las fuentes.
/*
$title_name_font:"poppin-semiBlod";
$regular_name_font:"roboto-regular";
$medium_name_font:"roboto-medium";
*/
$Oswald_name_font:"Oswald";
$title_name_font:"poppin";
$regular_name_font:"roboto";
$medium_name_font:"roboto";
