@import "../../assets/style/variables";

header {
    position: sticky;
    top: 0;
    z-index: 100;
    nav {
        color: #ffffff;
        border-bottom: 1px solid $color_primary;
        position: absolute;
        width: 100%;
        .nav-conteiner {
            margin-left: 7%;
            margin-right: 7%;
            display: flex;
        }
        .navLinks {
            display: flex;
            margin-left: auto;
            
        }

        li {
            margin: 10px;
            list-style: none;
            padding: 20px;
            :hover {
                color: $color_primary;
                transition-duration: 0.2s;
            }
        }
        a {
            color: #ffffff;
        }
        .nav-element {
            margin-top: 20px;
            font-size: 18px;
            
        }
        .mobile-menu {
            display: none;
            cursor: pointer;
            top: 25px;
            right: 5%;
            .bar1,
            .bar2,
            .bar3 {
                width: 35px;
                height: 5px;
                background-color: #f3f3f3;
                border-radius: 13px;
                margin: 6px 0;
                transition: 0.4s;
            }
            &.change .bar1 {
                -webkit-transform:  translateY(200%) ;
                transform:  translateY(200%);
            }
            &.change .bar2 {
                opacity: 0;
            }

            &.change .bar3 {
                -webkit-transform: translateY(-200%,) ;
                transform: translateY(-200%,); 
            }
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        .nav-logo img {
        
            height: 30px;
        }
        .mobile-menu {
            
            position: absolute;
            display: block !important;
            
        }
        .navLinks {
            transition-duration: 0.4s;
            :hover {
                background:rgba(144, 144, 144, 0.6);
                transition-duration: .3s;
            }
            
            li {
                margin: 0px;
                padding: 15px ;
                display: none;
                border-bottom: 1px solid $color_primary;
               
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav.responsive {
        .navLinks {
            /*
            transition-duration: 0.4s;
            display: block;
            margin-right: 10px;
            margin-top: 54px;
            text-align: right;*/
            transition-duration: 0.3s;
            background: rgba(44, 44, 44, 0.6);
            position: absolute;
            display: block;
            right: 0;
            padding: 10px;
            margin-top: 95px;
            text-align: right;

            li {
                display: block;
             
            }
        }
        .mobile-menu {
            font-size: 60px;
        }
    }
}
